# Ignore everything
*

# But not these files...
!.gitignore
!.vimrc
!.zshrc
!.bash_profile
!.gitconfig

# Include vim filetype plugins
!.vim/
!.vim/ftplugin/
!.vim/ftplugin/*.vim

# Include aria2.conf
!.aria2/
!.aria2/aria2.conf
